.page-xpc-202104 {
  font-family: $font-kanit;

  .main {
    &.loading {
      opacity: 0;
    }
  }

  .one-column {
    .column-main {
      padding-bottom: 0;
    }
  }

  .entrycontent {
    p {
      margin-bottom: 0;
    }
  }
  .detail {
    .headline {
      text-align: center;
      .heading {
        color: $green-900;
        font-family: $font-kanit;
        font-size: 25px;
        font-weight: 500;
        line-height: 28px;
      }
      .date {
        color: $gray-600;
        font-size: 14px;
        line-height: 30px;
      }
    }

    .subheadline {
      text-align: center;
      line-height: 24px;
    }

    .txt-popup {
      margin-bottom: 0.5rem;

      &-link {
        color: $gray-600;
        border-bottom: 0;

        &:hover,
        &:active {
          color: $green-900;
        }
      }

      &-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
      }
    }

    .table-anime {      
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      top: 0;      
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.65);      
      text-align: center;
      cursor: pointer;  

      &-txt {
        font-family: $font-dbthaitextx;
        font-weight: 300;
        font-size: 34px;
        text-shadow: -1px 1px 2px #000;
        line-height: 0.8;
        color: #fff;
        margin-bottom: 10px;
      }
      &-icon {
        width: 216px;
        margin: 0 auto;
      }
    }

    .table-750 {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      overflow-x: hidden;
      overflow-y: hidden;
      padding-bottom: 5px;

      @include respond-to(tablet) {        
        overflow-x: scroll;
      }

      &__wrap {
        width: 750px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
      }
    }

    .registered {
      max-width: 750px;

      &__title {
        font-family: $font-kanit;
        color: $gray-800;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }

      &__photo {
        margin-top: 20px;
      }

      &__img {
        object-fit: contain;
        max-height: 110px;
      }
    }

    .accordion-group {
      margin-top: 60px;
    }

    .accordion-content {
      .wrap {
        font-size: 13px;
      }

      ul {
        margin-bottom: 15px;
        margin-left: 1.3em;
        li {
          margin-bottom: 6px;
          list-style-type: disc;
          font-family: $font-helvetica;
        }
      }
    }

    .accordion-title {
      border-top: 1px solid #f2f2f2;
      font-size: 14px !important;
      
      span {
        font-size: 14px;
        font-family: $font-kanit;
      }

      &:after {
        content: '' !important;
        border-top: 2px solid $gray-800;
        border-left: 2px solid $gray-800;
        width: 8px;
        height: 8px;
        top: 25px;
        right: 5px;
        transform: rotate(-135deg);
      }
    }
  }
}

.icw .accordion-title:after {
  content: '' !important;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  width: 8px;
  height: 8px;
  top: 25px;
  right: 5px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.icw .accordion-title.active:after {
  content: '' !important;
  top: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
