$gray: #EEEEEE;
$gray-100: #F4F3F9;
$gray-150: #F2F2F2;
$gray-200: #EDEDED;
$gray-600: #666666;
$gray-700: #777777;
$gray-800: #333333;
$green-100: #ACE342;
$green-900: #00A850;
$blue-800: #465968;
$blue-900: #384957;

$bg-gray : $gray;
$bg-green-100 : $green-100;
$bg-green-900 : $green-900;

$font-helvetica: 'Helvetica', Aria, sans-serif !default;
$font-kanit: "Kanit", sans-serif !default;
$font-dbthaitextx: 'DBThaiTextX', sans-serif!default;